@font-face {
	font-family: "Roboto Mono";
	src: url("Roboto-Mono/RobotoMono-Medium.ttf");
}

body {
	background: linear-gradient(to right, #00c9ff, #92fe9d);
	text-align: center;
	font-family: "Roboto Mono";
}

h1, h2, h3, p, a {
	color: white;
}

a {
	font-size: 20px;
	margin: 15px;
	transition: all 300ms;
}

input {
	font-size: 16px;
	text-align: center;
	border-radius: 5px;

}

button {
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	background-color: #fc8a00;
	border: 2px solid white;
	color: #fff;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	transition: transform 400ms;
}
.showDiv {
transition: all linear 0.5s;
height: 100px;
width: 100%;
position: relative;
top: 0;
left: 0;
}

.ng-hide {
/* height: 0;
width: 0; */
top:200px;
}

.result {
	border-radius: 5px;
	background-color: white;
	width: 50%;
	margin: 0 auto;
	margin-top: 50px;
	min-height: 31px;
}

.result p {
	color: black;
	padding: 5px;
}

button:hover {
	transform: scale(1.07);
	transition: transform 400ms;
}

a:hover {
	font-weight: bold;
	font-size: 21px;
	transition: all 300ms;
}
